    {% include "header.html" %}

    <form method="post" action="/update" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                Modificar Empleado
            </div>
            <div class="card-body">
                <p class="card-text">
                    <input hidden type="text" name="txtId" id="txtId" value="{{ empleado[0] }}">
                    <div class="form-group">
                        <label for="txtNombre">Nombre:</label>
                        <input type="text" name="txtNombre" id="txtNombre" value="{{ empleado[1] }}">                
                    </div>
                    <div class="form-group">
                        <label for="txtCorreo">Correo:</label>
                        <input type="email" name="txtCorreo" id="txtCorreo" value="{{ empleado[2] }}">
                    </div>
                    <div class="form-group">
                        <label for="txtFoto">Foto de perfil:</label>
                        <img src="{{url_for("uploads", nombre_foto=empleado[3])}}" width="200px" alt="Foto de perfil">
                        <input type="file" name="txtFoto" id="txtFoto" value="{{ empleado[3] }}">
                    </div>
                </p>
                <input class="btn btn-success" type="submit" value="Modificar empleado">
                <a class="btn btn-primary" href="{{ url_for("index") }}" type="button">Volver</a>
            </div>
        </div>
    </form>

    {% include "footer.html" %}
